body {
    margin: 0px;
    padding:0px;
    font-family: "Asap", Helvetica, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-size: 200%;
    text-align:center;
}

a {
    color: #000;
}

/* header */

#cover-pic {
    text-align:center;
}

.header {
    background-color: #9ABA3E;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

.resource-list{
    background-color:#9ABA3E;
    width:60%;
    margin: 0 auto;
   
}

.resource-list h2 {
    text-align:center;
     padding:10px;
}

.resource-list a {
     text-decoration:none;
}

section {
    padding-top: 100px;
    padding-right: 25px; 
    margin-left:25px; 
}

#welcome {
    display: block;
   
}

#link {
    text-align:center;
}

#link-button {
    background-color:#1F419A;
    padding: 10px;
   
    border: 1px solid black;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    text-decoration:none;
    color:white;    
}

#construction-img {
  
    text-align:center;
    margin:50px;
}

#cover-pic img {

    width:35%;
    height:auto;
}

#cover-pic {
    background-color:#9ABA3E;
    margin:10px;
    padding:10px;
}

#leader-guide {
    padding-bottom: 50px;

}

#covenant {
    height:100vh;
}

#covenant-txt {
    margin: 0 auto;
    width: 70%;
    padding: 25px;
    background-color: #9ABA3E;
    border: 3px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
}

/* first120 start */

#first-text {
    padding-top:90px;
}
.week-odd {
    background-color: #9ABA3E;
    padding: 25px;
    text-align: center;
    
}

.week-even {
    background-color: #e0eac5;
    padding: 25px;
    text-align: center;
    
}

.day {
    margin-top: 20px;
    margin-bottom: 20px
} 

#first-text {
    margin: 0 auto;
    width: 85%;
    padding: 25px;
    padding-top:150px;
}

#first-text h2 {
    text-align: center;
    font-size: 200%;
  
}

#first-text p {
    font-size: 100%;
    text-align: justify
}

#first h3 {
    font-size: 150%;
    text-emphasis: bold;
}

 /* .checkbox-container{
    display: none;
}    */

label {
    font-size: 120%;
    font-weight:bold;
}

.scripture-reference {
    font-size: 120%;
    text-decoration: none;
}

iframe {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    background-color:#333;
    padding:2px;
    border-width: 10px;
    box-shadow: 3px 3px black;
    border-style:groove;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.button {
    border: 2px solid black;
    background-color: #1F419A;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.scripture {
    font-size:120%;
    margin-top:15px;
    padding:5px;    
    background-color:#1F419A;
    color:white;
}


/*  first 120 end */

#construction img {
    padding-top: 75px;
    width:100%;
}

.list-group-item {
    list-style-type:none;
}

.list-group li {
    font-size: 120%;
}

.list-group li a {
    font-size: 100%;
}

.list-group li a p {
    font-size: 50%;
}

.save-cb-state {
    width:25px;
    height:25px;
}

.hearinput {
    width:500px;
    height:300px;
}

.add-resources ul{
    list-style-type:none;

}



@media only screen and (max-width:330px ){
    section {
        padding-top: 120px;
        padding-right: 25px;
        margin-left: 25px;
    }
}




@media only screen and (min-width: 760px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    #welcome {
        display: flex;
        height:100vh;
    }

    #cover-pic img {
        padding:50px;
        height:20%;
        width:auto;
    }

    #cover-pic {
        width:30%;
    }

    .link-button {
        background-color: #9ABA3E;
        padding: 15px;
        border: 1px solid black;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin: 50px;
        text-decoration: none;
        color: white;
        font-size: 1rem;

    }

    #first-text {
        margin: 0 auto;
        width: 55%;
        padding: 25px;
        padding-top:100px;

    }

     #first-text h2 {
         text-align: center;
         font-size: 200%;
     }

     #first-text p {
         font-size: 120%;
         text-align: justify
     }

     #first h3 {
         font-size: 150%;
         text-emphasis: bold;
     }

     label {
         font-size: 150%;
     }

     .scripture-reference {
         font-size: 150%;
     }

     .resource-list {
         background-color: #9ABA3E;
         width: 35%;
         margin: 0 auto;
     }

    .resource-list {
        background-color: #9ABA3E;
        width: 35%;
        margin: 0 auto;
    }

    iframe {
        width: auto;
        height: 50%;

        margin: 0 auto;
        display: block;
        border-width: 5px;
        /* border-style: outset; */
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;   
    }
    
    section {
        padding-top: 90px;
        /* padding-right: 25px;  */
        margin-left: 25px;
    }
}








