


.week-odd {
    background-color: #9ABA3E;
    padding: 25px;
    text-align: center;
}

.week-even{
    background-color: rgb(230, 247, 181);
    padding: 25px;
    text-align: center;
}

.day {
    margin-top:20px;
    margin-bottom:20px
}

#first-text {
    margin: 0 auto;
    width: 85%;
    padding: 25px;
}

#first-text h2 {
    text-align: center;
    font-size: 250%;
}

#first-text p {
    font-size: 100%;
    text-align: justify
}

#first h3 {
    font-size: 150%;
    text-emphasis: bold;
}

/* .checkbox-container{
    display: none;
}  */

label {
    font-size:120%;
}

.scripture-reference {
    font-size: 120%;
    text-decoration:none;
}

iframe {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
     border-width:5px;
     border-style:outset;
     border-radius:10px;
     -webkit-border-radius:10px;
     -moz-border-radius:10px;
     -ms-border-radius:10px;
     -o-border-radius:10px;
}

.button {
    border: 2px solid black;
    background-color:#1F419A;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}







@media only screen and (min-width: 700px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    #welcome {
        display: flex;
        height: 100vh;
    }

    #cover-pic img {
        padding: 50px;
        height: 20%;
        width: auto;
    }

    .link-button {
        background-color: #9ABA3E;
        padding: 15px;
        border: 1px solid black;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin: 50px;
        text-decoration: none;
        color: white;
        font-size: 1rem;

    }

    #first-text {
        margin: 0 auto;
        width: 55%;
        padding: 25px;
    }

    #first-text h2 {
        text-align: center;
        font-size: 250%;
    }

    #first-text p {
        font-size: 120%;
        text-align: justify
    }

    #first h3 {
        font-size: 150%;
        text-emphasis: bold;
    }

    label {
        font-size: 150%;
    }

    .scripture-reference {
        font-size:150%;
    }

    .resource-list {
        background-color: #9ABA3E;
        width: 35%;
        margin: 0 auto;
    }

    iframe {
        width: auto;
        height:50%;
    
        margin: 0 auto;
        display: block;
        border-width:5px;
        border-style:outset;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
}

}



